<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.svalero.gestitaller">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application


    android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:theme="@style/Theme.GestiTaller.NoActionBar"
        android:supportsRtl="true" >

        <activity
            android:name=".view.BikeListView"
            android:theme="@style/Theme.GestiTaller"
            android:exported="false" />
        <activity
            android:name=".view.AddBikeView"
            android:exported="false" />
        <activity
            android:name=".view.OrderListView"
            android:theme="@style/Theme.GestiTaller"
            android:exported="false" />
        <activity
            android:name=".view.AddOrderView"
            android:exported="false" />
        <activity
            android:name=".view.ClientListView"
            android:theme="@style/Theme.GestiTaller"
            android:exported="false" />
        <activity
            android:name=".view.AddClientView"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".view.MainMenuView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">

            </meta-data>
        </provider>
    </application>

</manifest>